SECRET_KEY=your-secret-key
MONGO_URI=mongodb-secret-uri

APPLICATIONINSIGHTS_CONNECTION_STRING=PASTE_YOUR_CONNECTION_STRING_HERE

ADMIN_USERNAME=admin-username
ADMIN_EMAIL=admin-email
ADMIN_PASSWORD=admin-password